.container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    height: 100vh;
}
.card{
    width: 30rem;
}

input.ng-invalid.ng-touched{
    border: red 1px solid;
}
button.btn-primary:disabled{
    background-color: white;
    color: black;
}