<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="width: 30rem;">
                <div class="card-header">
                    <h6>Login Form</h6>
                </div>
                <div class="card-body">
                    <form (ngSubmit)="onLogin()" #f="ngForm">
                        <div class="form-group mb-3">
                            <input type="text" 
                                name="email" 
                                required 
                                pattern="^[a-z0-9]+@[a-z]+\.[a-z]{2,4}$"
                                [(ngModel)]="user.email" 
                                placeholder="Email"
                                class="form-control"
                                #email="ngModel"
                            >    
                                <span class="help-block text-danger" *ngIf="email.errors?.required && email.touched">
                                    <small>email is required</small>
                                </span>
                                <span class="help-block text-danger" *ngIf="email.errors?.pattern && !email.valid">
                                    <small>email is invalid</small>
                                </span>
                        </div>
                        <div class="form-group mb-3">
                            <input type="password" 
                                name="password" 
                                [(ngModel)]="user.password" 
                                placeholder="Password"
                                class="form-control"
                                required
                                #password=ngModel
                            >
                            <span class="help-block text-danger" 
                                *ngIf="password.touched && !password.valid">
                                <span>password is required</span>
                            </span>
                        </div>
                        <div class="form-group mb-3">
                            <button type="submit"
                                class="form-control btn btn-primary btn-sm"
                                [disabled]="f.invalid"
                            >
                                Login
                            </button>
                        </div>
                        <div class="router-link">
                            <a routerLink="/register" class="reg">Don't you have account?</a>
                            <a routerLink="/forgotpassword" class="forgotpw">forgot password</a>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>