.col-md-12{
    display: flex;
    align-items: center;
    justify-content: center;
}
.row{
    height: 100vh;
}
.router-link{
    justify-content: space-between;
    display: flex;
    align-items: center;

}
input.ng-invalid.ng-touched{
    border: red 1px solid;
}
button.btn-primary:disabled{
    background-color: white;
    color: black;

}