<div class="container" >
    <div class="row">
        <div class="col-md-12">
            <div class="card"  style="width: 30rem;">
                <div class="card-header"><h6>Change password</h6>
                    <div class="card-title"></div>
                </div>
                <div class="card-body">
                    <form (ngSubmit)="onSubmit()" #f="ngForm">
                        <div class="form-group mb-3">
                            <input type="text" 
                                name="email" 
                                [(ngModel)]="user.email"
                                 placeholder="Enter Your Email"
                                  class="form-control"
                                  required
                                  #email="ngModel"
                            >
                            <span class="help-block text-danger" *ngIf='email.touched && !email.valid'>
                                <small>email is required</small>
                            </span>
                        </div>
                        <div class="form-group mb-3" *ngIf="isVerified">
                            <input type="text"
                                 name="password" 
                                 [(ngModel)]="user.password" 
                                 placeholder="Enter New Password"
                                class="form-control"
                                required
                                #password="ngModel"
                            >
                            <span class="help-block text-danger" *ngIf='password.touched && !password.valid'>
                                <small>new password is required</small>
                            </span>
                        </div>

                        <div class="form-group mb-3" *ngIf="!isVerified">
                            <button type="submit" class="form-control btn btn-primary btn-sm" [disabled]="f.invalid">
                                Verify Email
                            </button>
                        </div>

                        <div class="form-group mb-3" *ngIf="isVerified">
                            <button type="button" (click)="changePassword()" class="form-control btn btn-primary btn-sm" [disabled]='f.invalid'>
                                Change Password
                            </button>
                        </div>
                        
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>


